html {
	font-size: 100%;
}
body {
	padding-top: 0px;
	padding-bottom: 0px;
	background: url(../img/bg_hintergrund.gif);
	color: #FFFFFF;
	font-size: 1.1em;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 200!important;
}
p, a, li {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 200;
	font-size: 1.0em;
}
li a{
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 600 !important;
	font-size: 1.0em;
}
/* Bereiche für Pfeile außerhalb des Layouts*/
a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}
a:focus {
	color: white;
	text-decoration: none;
}
a:hover {
	color: white;
	text-decoration: underline;
}
a:active {
	color: white;
	text-decoration: underline;
}
h2 {
	font-size: 1.7em !important;
}
h3 {
	font-size: 1.5em !important;
}
.right {
	float: left;
	width: 15px;
	/*background: rgba(187,212,240,0.6);*/
	margin-right: auto;
}
/* Bereiche, damit die Hintegründe richtig gefüllt werden*/
.outer {
	margin: 0 auto;
	width: 975px; /*960 + 15*/
}
.inner {
	float: left;
	width: 960px;
	background: url(../img/bg_mitte.jpg);
}
.inner_stopper {
}
/* Farbveräufe für Hintergründe außen*/

/* weitere Stile */
#head_navi {
	height: 60px;
}
#sprache {
	float: right;
	margin-top: 20px;
	margin-right: 40px;
	
}
#sprache a{
font-weight: 600 !important;
	font-size: 0.75em;
}
.unterstrichen {
	text-decoration: underline;
}
.logo_main {
	height: 60px;
	background: url(../img/logo_top.png);
}
.white {
	background: #fff;
}
.height_40 {
	height: 40px;
}
/* spalten */	
.links {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	float: left;
	width: 50%;
	padding-left: 40px;
}
.rechts {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	float: left;
	width: 50%;
	padding-left: 40px;
}
.rechtsbuendig {
	text-align: right;
}
.trans_blue {
	background-color: rgba(187,212,240,0.5);
}
.trans_white {
	background-color: rgba(255,255,255,0.2);
}
.bg_ueber_uns {
	background-image: url(../img/ueber_uns.png);
	min-height: 350px;
}
.bg_kompetenzen {
	background-image: url(../img/kompetenzen.png);
	min-height: 775px;
}
.stopper {
	position: absolute;
	top: -19px;
}
.rel {
	position: relative;
	clear: both;
}
.formular {
	padding-right: 40px;
}
/*input[type="submit"] {
        border: 0;
        background: url('../img/senden_btn.png') no-repeat left;
        text-indent: -9999em;
        width: 110px;
		 height: 24px;
}*/
.senden {
	border: 0;
	background: url('../img/senden_btn.png') no-repeat left;
	text-indent: -9999em;
	width: 110px;
	height: 24px;
}
.rechtsbuendig {
	text-align: right;
}
.unten_padding_60 {
	padding-bottom: 60px;
}
.links_padding_0 {
	padding-left: 0px;
}
.rechts_padding_10 {
padding-right: 10px;
}
.resp_../img {
	max-width: 100%;
	height: auto;
}
.error {
	font-size: 1em;
}
.bereiche {
	background-image: url(../img/pfeil_kl.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 20px;
}
.kompetenzen {
	list-style: square;
	margin-bottom: 15px;
}
.kompetenzen li {
	color: #efb870;
}
.kompetenzen li span {
	color: #fff;
}
.impressum_small {
	font-size: 0.85em;
}
.left_white {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 51%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0.5)), color-stop(50%, rgba(255,255,255,0.5)), color-stop(51%, rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 51%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 51%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 51%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 51%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1 ); /* IE6-8 */
}
.left_blue {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiZDRmMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYmJkNGYwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNiYmQ0ZjAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(187,212,240,0.5) 0%, rgba(187,212,240,0.5) 50%, rgba(187,212,240,0) 51%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(187,212,240,0.5)), color-stop(50%, rgba(187,212,240,0.5)), color-stop(51%, rgba(187,212,240,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(187,212,240,0.5) 0%, rgba(187,212,240,0.5) 50%, rgba(187,212,240,0) 51%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(187,212,240,0.5) 0%, rgba(187,212,240,0.5) 50%, rgba(187,212,240,0) 51%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(187,212,240,0.5) 0%, rgba(187,212,240,0.5) 50%, rgba(187,212,240,0) 51%); /* IE10+ */
	background: linear-gradient(to right, rgba(187,212,240,0.5) 0%, rgba(187,212,240,0.5) 50%, rgba(187,212,240,0) 51%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80bbd4f0', endColorstr='#00bbd4f0', GradientType=1 ); /* IE6-8 */
}
.right_blue {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiNiYmQ0ZjAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNiYmQ0ZjAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2JiZDRmMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JiZDRmMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left, rgba(187,212,240,0) 49%, rgba(187,212,240,0.5) 50%, rgba(187,212,240,0.5) 51%, rgba(187,212,240,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(49%, rgba(187,212,240,0)), color-stop(50%, rgba(187,212,240,0.5)), color-stop(51%, rgba(187,212,240,0.5)), color-stop(100%, rgba(187,212,240,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(187,212,240,0) 49%, rgba(187,212,240,0.5) 50%, rgba(187,212,240,0.5) 51%, rgba(187,212,240,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(187,212,240,0) 49%, rgba(187,212,240,0.5) 50%, rgba(187,212,240,0.5) 51%, rgba(187,212,240,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(187,212,240,0) 49%, rgba(187,212,240,0.5) 50%, rgba(187,212,240,0.5) 51%, rgba(187,212,240,0.5) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(187,212,240,0) 49%, rgba(187,212,240,0.5) 50%, rgba(187,212,240,0.5) 51%, rgba(187,212,240,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbd4f0', endColorstr='#80bbd4f0', GradientType=1 ); /* IE6-8 */
}
.white_blue {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNiYmQ0ZjAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmQ0ZjAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(187,212,240,0.5) 51%, rgba(187,212,240,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0.5)), color-stop(50%, rgba(255,255,255,0.5)), color-stop(51%, rgba(187,212,240,0.5)), color-stop(100%, rgba(187,212,240,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(187,212,240,0.5) 51%, rgba(187,212,240,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(187,212,240,0.5) 51%, rgba(187,212,240,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(187,212,240,0.5) 51%, rgba(187,212,240,0.5) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(187,212,240,0.5) 51%, rgba(187,212,240,0.5) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80bbd4f0', GradientType=1 ); /* IE6-8 */
}
.nav-pills > li > a {
	border-radius: 0;
 -webkit- border-radius: 0;
	font-size: 75%;
}
.nav > li > a {
	display: block;
	padding: 10px 10px;
	position: relative;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #8f7e6d;
	text-decoration: none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #8f7e6d;
	color: #FFFFFF;
}


















